<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center-title">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tarjeta del contenido del curso -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="card-title">PGY4121-005D</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Sección 123456</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item lines="none" class="content-info">
        <ion-icon name="location-outline" slot="start" class="icon-grey"></ion-icon>
        <ion-label>
          <p class="content-text">Sala: SB-LC11 LAB. DE COMPUTACIÓN</p>
          <p class="content-text">SEGUNDO SEMESTRE 2024</p>
        </ion-label>
      </ion-item>
      
      <div class="course-info-box">
        <ion-item lines="none" class="course-info">
          <ion-icon name="calendar-outline" slot="start" class="icon-white"></ion-icon>
          <ion-label>
            <p class="course-text">Martes Módulo 01: 08:20 - 9:50</p>
          </ion-label>
        </ion-item>
      </div>

      <!-- Botón para generar el QR -->
      <ion-button expand="block" class="qr-button" (click)="generateQRCode()">Generar QR</ion-button>

      <!-- Donde se mostrará el QR generado -->
      <canvas id="qrcode" class="qr-container"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
