<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asignaturas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addSubject()">Agregar Asignatura</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let subject of subjects">
      <ion-label>
        {{ subject.name }}
      </ion-label>
      <ion-button (click)="assignUsers(subject.id, 'student')">Asignar Estudiantes</ion-button>
      <ion-button (click)="assignUsers(subject.id, 'teacher')">Asignar Profesores</ion-button>
      <ion-button color="danger" (click)="deleteSubject(subject.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  
</ion-content>
