<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title">
      Administración
    </ion-title>
    <!-- Icono de cerrar sesión al lado derecho -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="admin-content">
  <!-- Bienvenida con imagen de fondo -->
  <div class="welcome-container">
    <div class="welcome-text">
      <p>Bienvenido/a</p>
      <p class="user-name">{{ userName }}</p>
    </div>
  </div>

  <!-- Tarjetas de estudiantes y profesores -->
  <ion-grid class="card-container">
    <ion-row class="centered-row">
      <ion-col size="auto">
        <ion-card button (click)="navigateToStudents()" class="admin-card">
          <ion-card-content>
            <ion-icon name="people-circle-outline" class="icon"></ion-icon>
            <p class="card-title">Estudiantes</p>
            <p class="card-description">Administra y visualiza estudiantes</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="auto">
        <ion-card button (click)="navigateToTeachers()" class="admin-card">
          <ion-card-content>
            <ion-icon name="school-outline" class="icon"></ion-icon>
            <p class="card-title">Profesores</p>
            <p class="card-description">Administra y visualiza profesores</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
