<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Opción 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Opción 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Opción 3</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline" class="white-icon"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="title-inicio">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="div-user">
    <div class="user-info">
      <img [src]="userImage" alt="User Image" class="user-image" />
      <div class="user-text">
        <p>Bienvenido/a</p>
        <p>{{ userName }}</p>
      </div>
    </div>
  </div>
  <div class="icon-grid">
    <ion-row>
      <ion-col size="6">
        <ion-icon name="book-outline" size="large"></ion-icon>
        <p>Materias</p>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="people-outline" size="large"></ion-icon>
        <p>Grupos</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-icon name="calendar-outline" size="large"></ion-icon>
        <p>Horarios</p>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="person-outline" size="large"></ion-icon>
        <p>Alumnos</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-icon name="checkmark-done-outline" size="large"></ion-icon>
        <p>Asistencia</p>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="document-text-outline" size="large"></ion-icon>
        <p>Reporte</p>
      </ion-col>
    </ion-row>
  </div>
  <div class="footer"></div>
</ion-content>
