<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline" class="white-icon"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="title-inicio">Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" class="white-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-user">
    <div class="user-info">
      <img [src]="userImage" alt="User Image" class="user-image" />
      <div class="user-text">
        <p>Bienvenido/a</p>
        <p>{{ userName }}</p>
      </div>
    </div>
  </div>
  <div class="icon-grid">
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" expand="block" fill="clear" (click)="navigateToMaterias()">
          <div class="icon-container">
            <ion-icon name="book-outline" size="large"></ion-icon>
            <p>Materias</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" expand="block" fill="clear" (click)="navigateToGrupos()">
          <div class="icon-container">
            <ion-icon name="people-outline" size="large"></ion-icon>
            <p>Grupos</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" expand="block" fill="clear" (click)="navigateToHorarios()">
          <div class="icon-container">
            <ion-icon name="calendar-outline" size="large"></ion-icon>
            <p>Horarios</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" expand="block" fill="clear" (click)="navigateToAlumnos()">
          <div class="icon-container">
            <ion-icon name="person-outline" size="large"></ion-icon>
            <p>Alumnos</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" expand="block" fill="clear" (click)="navigateToAsistencia()">
          <div class="icon-container">
            <ion-icon name="checkmark-done-outline" size="large"></ion-icon>
            <p>Asistencia</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" expand="block" fill="clear" (click)="navigateToReporte()">
          <div class="icon-container">
            <ion-icon name="document-text-outline" size="large"></ion-icon>
            <p>Reporte</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div class="footer"></div>
</ion-content>
