<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <!-- Botón de retroceso con ícono de flecha -->
      <ion-back-button defaultHref="/estudiante" text="" icon="arrow-back-outline" class="estudiante-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">Registro de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor para mostrar un marco alrededor del escáner -->
  <div id="marco-qr">
    <div id="linea-escaner"></div>
  </div>

  <!-- Botón para iniciar el escaneo -->
  <ion-button expand="full" (click)="iniciarEscaneo()">Iniciar escaneo</ion-button>

  <!-- Mostrar resultado del QR -->
  <ion-card *ngIf="resultado">
    <ion-card-header>
      <ion-card-title>Resultado del QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ resultado }}
    </ion-card-content>
  </ion-card>
</ion-content>

