<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBackToAdmin()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gestión de Estudiantes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addStudent()">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let student of students">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ student.name }} {{ student.last_name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ student.email }}</p>
            <ion-button expand="full" color="secondary" (click)="editStudent(student)">
              Editar
            </ion-button>
            <ion-button expand="full" color="danger" (click)="deleteStudent(student)">
              Eliminar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
